body{
    max-width: 1170px;
    background-color: azure;
    margin: 0 auto;
}
.card-section{
    text-align: center;
}

.card-container{
    display: flex;
    gap: 50px;
    flex-wrap: wrap;

}
.card{
    width: 300px;
    border: 2px solid brown;
    border-radius: ;
    text-align: left;
    padding: 10px;
    box-shadow: 10px 10px 10px black;
}
.card:hover{
    background-color: aquamarine;
}
.card h3{
    font-size: 1.24em;
    font-weight: 700;
}
.card img{
    width: 100%;
    border-radius: ;
}
.card button{
    background-color: blueviolet;
    padding: 10px 30px;
    font-size: 1.25em;
    border-radius:10px ;
    cursor: pointer;
}